@import "tailwindcss";

/* Custom theme configuration for Tailwind v4 */
@theme {
  --font-sans: var(--font-inter);
  
  --color-brand-blue-100: #E6F0FF;
  --color-brand-blue-500: #006FFF;
  --color-brand-blue-600: #005CE6;
}

/* Enable dark mode support */
@variant dark (&:is(.dark *));